header,
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    width: 70px;
    background-color: rgb(194, 238, 238);
    border-radius: 10px;
}

button:hover {
    cursor: pointer;
    box-shadow: 10px;

}